"output/books_pdf/Intensive Practices of Kharif crops 2017.pdf" filter=lfs diff=lfs merge=lfs -text
"output/books_pdf/Intensive Practices of Rabi crops 2017.pdf" filter=lfs diff=lfs merge=lfs -text
"output/books_pdf/Intensive Practices of Jayad crops 2017.pdf" filter=lfs diff=lfs merge=lfs -text
